body {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

p {
	margin-bottom: 5px;
}

.hello {
  font-size: 70px;
  color: rgb(255, 2, 200);
}

.new2 {
  color: #1100fe;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 900;
}

.photo {
	margin-bottom: 10px;
}

.flex {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.i-1 {
	font-weight: bolder;
	font-size: 60px;
	text-align: center;
	height: 100px;
	width: 300px;
	border-radius: 10px;
}

.button-1 {
	font-size: 60px;
	text-align: center;
	width: 150px;
	border-radius: 10px;
}

.test {
	font-size: 80px;
	color: rgb(0, 255, 191);
}

.out {
	font-size: 50px;
	color: yellow;
}

.input {
	margin-bottom: 10px;
}

.red {
	font-size: 50px;
	color: red;
}
.blue {
	color: rgb(0, 0, 255);
}
.green {
	font-size: 50px;
	color: rgb(42, 255, 42);
}

.colorI {
	height: 100px;
	width: 200px;
}

.after {
  color: rgb(20, 255, 3);
  font-size: 60px;
}

.lorem {
  line-height: 1.5;
}