body {
  background-color: black;
  color: white;
  text-align: center;
}

.hello {
  font-size: 70px;
  color: rgb(255, 2, 200);
}

.new2 {
  color: #1100fe;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 900;
}

.photo {
	margin-bottom: 10px;
}

.input {
	margin-bottom: 10px;
}

.red {
	color: red;
}
.blue {
	color: rgb(0, 0, 255);
}
.green {
	color: rgb(42, 255, 42);
}

.after {
  color: rgb(20, 255, 3);
  font-size: 60px;
}

.lorem {
  line-height: 1.5;
}