body {
	background-color: black;
}

.hello {
	font-size: 70px;
	color: rgb(255, 2, 200);
}

.new2 {
	color: #1100fe;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 900;
}

.after {
	color:rgb(20, 255, 3);
	font-size: 60px;
}

.lorem {
	color: #fff;
	line-height: 1.5;
}